.bg-color-on-hover:hover {
    background-color: #b9b8b6;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    padding-left: 5px;
    cursor: pointer;
}



.flag-width {
    width: 250px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px
}


.custom-colorA {
    background-color: #46139f;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    transform: scale(1.0);
}

.custom-colorA:hover {
    background-color: #46139f;
    transition: background-color 0.3s ease;
    transform: scale(1.03);
}



.custom-colorB {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    transform: scale(1.0);
}

.custom-colorB:hover {
    background-color: #ff7f50;
    transition: background-color 0.3s ease;
    transform: scale(1.03);
}





.customA {
    background-color: #46139f;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    transform: scale(1.0);
}

.customA:hover {
    background-color: #46139f;
    transition: background-color 0.3s ease;
    transform: scale(1.03);
}



.customB {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    transform: scale(1.0);
}

.customB:hover {
    background-color: #ff7f50;
    transition: background-color 0.3s ease;
    transform: scale(1.03);
}



.custom-colorANew {
    background-color: #46139f;
    color: white;
    border: none;
    padding: 12px 20px 12px 20px;
    border-radius: 5px;
    transform: scale(1.0);
}

.custom-colorANew:hover {
    background-color: #46139f;
    transition: background-color 0.3s ease;
    transform: scale(1.03);
}


.custom-colorBNew {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 12px 20px 12px 20px;
    border-radius: 5px;
    transform: scale(1.0);
}

.custom-colorBNew:hover {
    background-color: #ff7f50;
    transition: background-color 0.3s ease;
    transform: scale(1.03);
}



.custom-colorC {
    background-color: white;
    color: black;
    border: none;
    border: 2px solid #46139f;
    border-radius: 5px;
    padding: 7px 30px 7px 30px;
    transform: scale(1.0);
}

.custom-colorC:hover {
    background-color: white;
    transition: background-color 0.3s ease;
    transform: scale(1.03);
}

